.div{
  margin-left: 40px;
  margin-top: 20px;
}

.squr{
  list-style-type: square;
}
.circle{
  list-style-type: circle;

}








/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
